/* Basic App styling and layout */
.App {
    height: 100vh;
    background-color: #000000;
    color: #00FF00;
    font-family: 'VT323', monospace;
    margin: 0;
    overflow: hidden;
    position: relative; /* To position the footer at the bottom */
}

.App a {
    color: #00FF00;
    text-decoration: none;
}

.App a:hover {
    text-decoration: underline;
}

.App header,
.App footer {
    padding: 1rem 0;
}

.App header {
    border-bottom: 1px solid #808080;
}

.App footer {
    border-top: 1px solid #808080;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Blinking Cursor Effect */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking-cursor {
    font-weight: bold;
    color: #00FF00;
    animation: blink 1s infinite;
    display: inline-block;
    margin-left: 5px;
}

/* Hover Scanline Effect */
.scanline-effect {
    background-image: linear-gradient(transparent 50%, #008000 50%);
    background-size: 100% 2px;
    background-position: 0 100%;
    transition: background-position 0.2s;
}

.scanline-effect:hover {
    background-position: 100% 100%;
}

/* Typewriter Effect */
@keyframes typewriter {
    from {
        max-width: 0;
    }
    to {
        max-width: 100%;
    }
}

.typewriter-container {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%; /* This will animate from 0 to the actual content's width */
    animation:
            typewriter 3s steps(30, end) forwards, /* Use forwards to keep the final frame */
            blinkTypewriter .5s step-end infinite 3s; /* This starts the blinking after 3 seconds */
}

.typewriter-text {
    display: inline-block; /* To prevent wrapping */
}

.blinking-cursor {
    font-weight: bold;
    color: #00FF00;
    animation: blink 1s infinite;
    display: inline-block;
}