body {
    font-family: 'VT323', monospace !important;
    background-color: #000000 !important;
    color: #00FF00 !important;
    height: 100vh !important;
    margin: 0 !important;
    overflow: hidden !important;
}

a {
    color: #00FF00 !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

header, footer {
    padding: 1rem 0 !important;
}

header {
    border-bottom: 1px solid #808080 !important;
}

footer {
    border-top: 1px solid #808080 !important;
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
}
